*{
    padding: 0;
    margin: 0;

}

.my-nav{
    background-color: #ccc;
}

.my-main-bg{
    background-color: rgb(142, 191, 238);
}

#popap{
    z-index: 1000;
    width: 100%;

    display: none;
    position: fixed;
    margin: 0 auto;
    top: 0;
    justify-content: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    user-select: none;
    
    
}
.inner-popap{
    top: 5%;
    background-color: #fff;
    left: 20%;
    scrollbar-color: rgb(223, 16, 16);
    overflow: scroll;
    bottom: 5%;
    height: 600px;
}

.header-fix{
    
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
}